* {
    margin: 0;
}
.App {
    text-align: center;
}

#input-ducks {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#input-ducks input {
    max-width: 200px;
    margin: 10px;
}

#input-ducks button {
    align-items: center;
}
